@charset "UTF-8";
/* --------------- RESET e Toda a pagina ---------------*/
@font-face {
  font-family:'painter';
  src: url(../fonts/painter.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
a{
  text-decoration: none;
}
ul {
  list-style: none;
}
/* --------------- Inicio Mobile First ------------------------*/
/* --Inicio Menu -----------------------------------------------*/
nav div.c_Barra_menu_mobile{
    width: 100vw;
    height: 8.4vh;
    background-image: linear-gradient(-45deg,#f0ba3c,#ffe7b2,#fccf65);
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: fixed;
    z-index: 80;
}
nav#barra_menu_desktop{
  display: none;
}

        nav div img.icone_m{
          width: 7.5vw;
          display: flex;
          margin-right: 3vw;
        }
        nav h1{
          display: flex;
          color:#09895c;
          font: 400 1.4em 'painter', cursive;

        }
ul#Menu_abre_fecha {
  position: fixed;
  width: 100vw;
  background-color:#111;
  z-index: 79;
  opacity: 0 ;
  top:-24rem;

}
  ul#Menu_abre_fecha li a{
    width: 100vw;
    height: 10vh;
    align-items: center;
    display: flex;
    color: #eee;
    text-align: left;
    font-weight: 800;
    font-size: 1em;
  }
      div.C_icon_menu{
        width: 18vw;
        height: 10vh;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1vw;
      }
        .C_icon_menu img{
          width: 5vw;
          height: auto;
        }

nav.C_menudesktop{
  display: none;
}
/* --Inicio Banner entrada ------------------------------------*/
div.c_banner{
    padding-top: 8.4vh;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: -2;
}
img.fundo_desk{
  display: none;
}
      img#marca{
        position: absolute;
        width: 75vw;
        padding-top: 5vh;
      }
      img.fundo_banner{
              width: 100vw;
              height: 100%;
      }
      img#tomate_desk{
        display:none;
      }
/* --Inicio nossa história--------------------------------------*/
section#nossa_his{
  margin-bottom: 4vh;
  position: relative;
}
      a#ancora_nh{
        position: absolute;
        left: 0px;
        top: -8.4vh;
      }
      img#tomate_f{
        width: 100vw;
        height: auto;
      }
      h1.titulo_nh{
        margin-bottom: 0.5em;
        color: #ffad22;
        font: 800 1.618rem/2.375rem 'open sans', sans-serif;
        padding: 1rem 1.875rem 0 1.875rem ;
      }
      p.texto_nh{
        color: grey;
        font: 400 1rem/1.75rem 'open sans', sans-serif;
        padding: 1rem 1.875rem 0 1.875rem ;
      }
      br {
        line-height: 0.618rem;
      }
      span.nome_ana{
        color: #FF9900;
        font: 800 1rem/1.75rem 'open sans', sans-serif;
        padding: 1.875rem 1.875rem 0rem 0rem ;
      }
/* --Inicio por que la pezzi --------------------------------------*/
div#c_pq_lapezzi{
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
      a#ancora_pqla{
        position: absolute;
        left: 0px;
        top: -8.4vh;
      }
      img#lasanha{
        width: 100vw;
        height: 100%;
      }
      img#lasanha_desk{
        display: none;
      }
      h1.pq_lapezzi{
        position: absolute;
        bottom: 0em;
        display: flex;
        width: 100vw;
        height: 3rem;
        justify-content: center;
        align-items: center;
        color:#31b587;
        background-color: white;
        font: 400 1.9rem 'painter', cursive;
      }
      h2.saibamais{
        padding-top: 0.15rem ;
        text-align: center;
        color:#FFCC99;
        background-color: #333;
        height: 1.8rem;
        font: 800 0.96rem 'Open Sans', sans-serif;
        position: absolute;
        bottom:-4.5vh;
        width: 100%;
        animation: ani_text 2s infinite;
      }
      @keyframes ani_text {
        0% {color: orange;}
        50%{color: lightgreen;}
        100%{color:orange;}
      }
.c_grid {
  margin-top: 4.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 25vh;
}

.verde{
  position: relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #09895c;
  height: 100%;
}
    .verde img{
      width: 10vh;
      padding-bottom: 0.3em;
    }
    .verde h2{
      color: #ffffff;
      font: 400 1.1rem 'open sans', sans-serif;
    }
    .verde:hover p.p_verde{
      opacity: 1;
    }
        p.p_verde{
          background-color: white;
          color: green;
          text-align: center;
          align-items: center;
          padding: 0.7rem 0.7rem 0.7rem 0.7rem;
          width: 100%;
          height: 100%;
          opacity: 0;
          font-size: 0.9rem;
          position: absolute;
          display: flex;
          transition: 0.5s;
        }
.amarelo{
  background-color: #f0a600;
}

        p.p_amarelo{
          color: #f0a600;
        }
/* --Inicio fotos--------------------------------------*/
div.barra_fotos{
  position: relative;
  background-color: #222;
  width: 100vw;
  height: 18vh;
  align-items:center;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
      a#ancora_ft{
        position: absolute;
        left: 0px;
        top: -8.4vh;
      }
      .barra_fotos h1{
        font: 400 2.7rem 'painter', cursive;
        color: #FFCC99;
        padding: 0.5rem 0 0 1rem;
      }
      img.icone_cam{
        width: 9vmax;
        animation: ani_iconf 1.5s infinite;
      }
      @keyframes ani_iconf {
        0% {transform: rotate(20deg);}
        50% {transform: rotate(-20deg);}
        100% {transform: rotate(20deg);}
      }
.swiper-container {
    width: 100vw;
}
.swiper-slide img{
  width: 100vw;
  height: 100%;
}
/* --Inicio link para menu--------------------------------------*/
.C_menupreco{
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
    .C_menupreco img{
      width: 45vw;
      margin-top: -3vh;
    }
    .C_menupreco h1{
      font: 400 1.6rem 'painter', cursive;
      color: orange;
      padding-top: 0.5vh;
    }
    .C_menupreco p{
      font-size: 3vmax;
      text-align: center;
      color: #666;
      padding: 0.1rem 1.875rem 0 1.875rem ;
    }
    .botao_linkCom {
      font: 800 2rem 'Open Sans', sans-serif;
      color: #ffffff;
      background-color: orange;
      margin: 0 auto;
      padding: 1rem 2rem 1rem 2rem ;
      bottom: 12vh;
      position: relative;
      animation: ani_botao 2s infinite;
      box-shadow: 0.9vh 1.8vw 0.9vmax rgba(147, 147, 147,0.5) ;
      width:77vw;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    @keyframes ani_botao {
      0% {background-color: orange;}
      50%{background-color: #09895c;}
      100%{background-color:orange;}
    }
/* --Inicio video--------------------------------------*/
div.barra_video{
  position: relative;
  background-color: #009966;
  width: 100vw;
  height: 16vh;
  align-items:center;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
          a#ancora_vd{
            position: absolute;
            left: 0px;
            top: -8.4vh;
          }
          .barra_video h1{
            padding: 0.5rem 0rem 0rem 1rem;
            font: 400 1.95rem 'painter', cursive;
            color: #ffcc66;
            display: flex;
          }
          img.icone_tv{
            display: flex;
            width: 7.7vmax;
            animation: ani_iconf 1.5s infinite;
          }
video#C_video{
  width: 100vw;
  height: 100%;
}

/* --Inicio Comentários --------------------------------------*/
#C_comentarios{
  height: 97vh;
  width: 100vw;
  position: relative;
}
a#ancora_cm{
  position: absolute;
  left: 0px;
  top: -11vh;
}
div.icone_conjunto{
  height: 12vh;
  margin: 8vh 0 2vh 0;
  display: flex;
  justify-content: center;
}
            hr.esquerda{
              border-bottom: 1px solid #ccc;
              width: 28vw;
              height: 5vh;
            }
            img.icone_coment{
              width: 20vw;
              margin: 0 4vw 0 4vw;
            }
h1.coment_chamada{
  position: relative;
  font: 400 1.6rem 'painter', cursive;
  color: #adadad;
  padding: 0 1.6rem 0 1.6rem ;
  text-align: center;
}
h2.fanpage{
  font: italic 400 0.9rem 'open sans', sans-serif;
  text-align: center;
  color: #ccc;
  margin: 0rem 1.6rem 0rem 1.6rem;
}
    span.aspas{
      color: #ff9900;
    }
    p.comentarios{
      color: #006633;
      margin: 0.8rem 1.4rem 0.2rem 1.4rem;
      font: 800 1rem/1.5rem 'open sans', sans-serif;
      text-align: center;
    }
    p.ass_coment{
      text-align: center;
      font-style: italic;
      color: grey;
      margin: 0rem 1.6rem 0rem 1.6rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.8rem;
    }
/* --Inicio contatos --------------------------------------*/
div.header_cont {
  width: 100vw;
  height: 35vh;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  z-index:-2;
}
    a#ancora_co{
      position: absolute;
      left: 0px;
      top: -8.4vh;
    }
    div.fundo_verde{
      width: 110vw;
      height: 70vh;
      background-color: #006633;
      transform: rotate(-3deg);
      position: absolute;
      top: 4vh;
      left: -5vw;
      z-index: 0;
    }
    div.f_amarelo{
      background-color: #ffcc66;
      transform: rotate(-4deg);
      position: absolute;
      top: 3vh;
      left: -3vw;
      z-index: -1;
    }
    h1.titulo_cont{
      color: #ff9900;
      width: 100vw;
      font: 400 1.5rem 'painter',cursive;
      text-align: center;
      padding: 2.9rem 1rem 0rem 1rem;
      position: absolute;
    }
    p.paragrafo_cont{
      color: #fff;
      text-align: center;
      padding: 5rem 1.2rem 0rem 1.2rem;
      position: absolute;
      line-height: 1.5;
    }
div.botoes_conta{
  display: flex;
  flex-direction: row;
}
    div.facebook_cont{
      width: 50vw;
      height: 29vh;
      background-color: #ff9900;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
    }
        span.face{
          background-color: #ff9900;
          width: 40vw;
          height: 4vh;
          position: absolute;
          text-align: center;
          top: -2vh;
          box-shadow: 0vh 1vw 1vmax rgb(88, 88, 88, 0.4);
          font-weight: bolder;
          color: rgb(33, 33, 33);
        }
    div.whatsapp_cont{
      background-color: #33cc66;
    }
        span.zap{
          background-color: #33cc66;
        }
        img.face_icon{
          height: 15vh;
          padding-top: 2vh;
        }
/* --Inicio Footer --------------------------------------*/
footer{
  background-color: #111;
  width: 100%;
  height: 55vh;
}
    footer h1{
      color: #fff;
      padding: 1rem 0rem 0rem 1.4rem;
    }
    footer img{
      width: 40vw;
      height: auto;
      padding: 1.3rem 0rem 0rem 1.4rem;
    }
    footer ul li a{
      color: #ff9900;
      padding: 1.3rem 0rem 0rem 1.4rem;
      font:  400 0.9rem/1.7rem 'open sans', sans-serif;
    }
    footer address{
      background-color: #333;
      color: #999;
      margin-top: 1.5rem;
      padding:  0rem 1.4rem 0rem 1.4rem;
      text-align: center;
      font-size: 0.8em;
      height: 10vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
