@charset "UTF-8";
/* --------------- RESET e Toda a pagina ---------------*/
@font-face {
  font-family:'painter';
  src: url(../fonts/painter.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
a{
  text-decoration: none;
}
ul {
  list-style: none;
}
/* --------------- Inicio media tablet ---------------*/
/* --Inicio Menu -----------------------------------------------*/
nav div.c_Barra_menu_mobile{
  height: 5vh;
}
    nav div img.icone_m{
      width: 3vw;
      margin-right: 1.3vw;
    }
ul#Menu_abre_fecha{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
        ul#Menu_abre_fecha li a{
          width: auto;
          font-size: 1em;
          justify-content: center;
          /*background-image: linear-gradient(45deg,#111,#111,#111,#222); */
          background: #001100;
        }
        li.coluna_exp7{
          grid-area:  span 1 / span 3;

        }
        div.C_icon_menu{
          width:4vw;
          margin-right: 0.9vw;
        }
          .C_icon_menu img{
            width: 2.4vw;
          }
/* --Inicio Banner entrada ------------------------------------*/
div.c_banner{
  padding-top: 5vh;
}
img#marca {
    position: absolute;
    width: 500px;
    padding-top: 106px;
}
/* --Inicio nossa história--------------------------------------*/
a#ancora_nh{
  top:-5vh;
}
section h1.titulo_nh{
  font: 800 2.563rem/3.875rem 'open sans', sans-serif;
}
section p.texto_nh{
  font: 400 1.618rem/2.375rem 'open sans', sans-serif;
  padding-bottom: 1.3vh;
}
br {
  line-height: 2rem;
}
section span.nome_ana{
  font: 800 1.618rem/2.375rem 'open sans', sans-serif;
}
/* --Inicio por que la pezzi --------------------------------------*/
div#c_pq_lapezzi{
  margin-top: 10vh;
}
a#ancora_pqla{
  top: -5vh;
}
h1.pq_lapezzi{
  height: 7vh;
  font: 400 2.4rem 'painter', cursive;
      height: 41px !important;
      align-items: baseline;

}
#row_colorverde{
  background-color: #09895c;
}
#row_colorverde p{
  color: green;
}
#row_coloramarelo{
  background-color: #f0a600;
}
#row_coloramarelo p{
  color: #f0a600;
}
.verde h2{
  font: 400 1.1rem 'open sans', sans-serif;
}
.c_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 19vh;
}
.c_grid img{
  width: 8vw;
}
p.p_verde{
  font-size: 1rem;
}
/* --Inicio fotos--------------------------------------*/
div.barra_fotos{
  height: 15vh;
}
  a#ancora_ft{
  top: -5vh;
}
/* --Inicio link para menu--------------------------------------*/
.C_menupreco{
  height: 80vh;
}
.C_menupreco img{
  height: 30vh;
}
.C_menupreco h1{
  font: 400 3rem 'painter', cursive;
}
.botao_linkCom {
  font: 800 3rem 'Open Sans', sans-serif;
  padding: 3vh 1vw 3vh 1vw ;
  bottom: 154px;
}
/* --Inicio videos--------------------------------------*/
a#ancora_vd{
  top:-5vh;
}
.barra_video h1{
  font: 400 5vmax 'painter', cursive;
}
/* --Inicio comentarios--------------------------------------*/
#C_comentarios{
  height: auto;
  margin-bottom: 11vw;
}
a#ancora_cm{
  top: -8vh;
}
    img.icone_coment{
      width: 15vw;
      margin: 0 3vw 0 3vw;
    }
h1.coment_chamada{
  font: 400 2.9rem/3.7rem 'painter', cursive;
  padding: 0 13vw 0 13vw ;
}
h2.fanpage{
  font: italic 400 1.1rem 'open sans', sans-serif;
}
p.comentarios{
  font: 800 1.3em/1.7rem 'open sans', sans-serif;
  margin: 2vh 10vw 1vh 10vw;
}
p.ass_coment{
    margin: 0 10vw 0 10vw;
}
/* --Inicio contatos --------------------------------------*/
h1.titulo_cont{
  font: 400 2.7rem 'painter',cursive;
  padding: 10vh 10vw 1vh 10vw;
}
p.paragrafo_cont{
  font-size: 1.4rem;
  padding: 16vh 10vw 1vh 10vw;
}
span.face{
  font: 800 1.4rem 'open-sans',sans-serif;
  padding-top: 0.3vh;
}

/* --Inicio Footer --------------------------------------*/
footer{
  height: auto;
}
footer img{
  margin: 3vh 0 0 2vw;
}
footer h1{
  margin: 0vh 0 0 2vw;
  font-size: 1.2rem;
}
footer ul li a{
  font:  400 1.2rem/2.1rem 'open sans', sans-serif;
  margin: 3vh 0 0vh 2vw;
}
footer address{
  margin-top: 7vh;
}
